@model TritonExpress.Models.Vehicles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehicleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehicleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehicleRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehicleRegistration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehicleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehicleModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch.branchName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehicleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
