@model IEnumerable<TritonExpress.Models.Vehicles>

@{
    ViewData["Title"] = "Vehicles On System";
}

<center><h1>Vehicles On System</h1></center>
<style>


        * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('../../Images/s1.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #f1f1f1;
            }

    .notfound {
        display: none;
    }
</style>
<p>
    <a class="btn btn-primary" asp-action="Create">Add A Vehicle</a>
</p>
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search By Keyword/Numeric Value...">
<br />
<table id="myTable" class="table" style="background-color:white;">
    <thead>
        <tr class='table-heading'>
            <th>
                @Html.DisplayNameFor(model => model.vehicleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicleRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicleModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.vehicleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vehicleRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vehicleModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.location)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.VehicleId">Update Vehicle Information</a> |
                    @*<a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |*@
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.VehicleId">Delete Vehicle</a>
                </td>

            </tr>


        }
        <tr class='no-records' style="display: none;">
            <td style="color:red; text-align:center; font-style:oblique;" colspan='10'>No Data Found</td>
        </tr>

    </tbody>
</table>

<script>
    function searchFunction() {
        $("#myInput").keyup(function () {
            var value = this.value.toLowerCase().trim();

            $("table tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);

                    var trSel = $("#myTable tr:not('.no-records, .table-heading'):visible");
                    if (trSel.length == 0) {

                        $("#myTable").find('.no-records').show();
                    }
                    else {
                        $("#myTable").find('.no-records').hide();
                    }

                    return not_found;

                });
            });
        });
    }
</script>




