@model TritonExpress.Models.WayBill

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WayBill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wayBillReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wayBillReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parcels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parcels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicles.vehicleName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="wayBillId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
