@model TritonExpress.Models.WayBill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WayBill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wayBillReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wayBillReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parcels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parcels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicles.vehicleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.wayBillId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
