@model IEnumerable<TritonExpress.Models.Branch>

@{
    ViewData["Title"] = "All Triton Express Branches";
}

<center><h1>Triton Express Branches</h1></center>
<style>


    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #f1f1f1;
            }
</style>
<p>
    <a class="btn btn-primary" asp-action="Create">Add A Triton Branch</a>
</p>
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search By Keyword/Numeric Value...">
<br />
<table id="myTable" class="table" style="background-color:white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.branchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.branchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.BranchId">Update Branch Information</a> |
                    @*<a asp-action="Details" asp-route-id="@item.BranchId">Details</a> |*@
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BranchId">Delete Branch</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<script>
    function searchFunction() {
        $("#myInput").keyup(function () {
            var value = this.value.toLowerCase().trim();

            $("table tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
    }

</script>
